In [49]:
import requests
import pandas as pd
from pathlib import Path
import logging
import os
import sys
import hydra
from omegaconf import OmegaConf
from pathlib import Path
from sqlalchemy import create_engine

from dotenv import load_dotenv
load_dotenv()

True

In [50]:
PROJ_ROOT = Path("__file__").resolve().parents[2]

In [51]:
PROJ_ROOT.as_posix()

'D:/ANNACONDA/projects/buckystyle_league_championship_series/buckystyle_league_championship_series'

In [52]:
pd.set_option('display.max_columns', None)

In [53]:
DB_URL = os.getenv("DATABASE_URL")
engine = create_engine(DB_URL)
query = f"""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
"""
df = pd.read_sql(sql=query, con=engine)

In [54]:
df.head()

               table_name
0    blcs_player_mappings
1  blcs_player_statistics
2         player_profiles
3     scheduling_sessions

In [55]:
import re

In [60]:
query= """
SELECT *
FROM blcs_player_statistics
"""
pd.read_sql(sql=query, con=engine)

,player_id,season_id,games_played,wins,losses,avg_score,goals_per_game,assists_per_game,saves_per_game,shots_per_game,shot_percentage,demos_inflicted_per_game,demos_taken_per_game,avg_speed,dominance_quotient,percentile_rank,last_updated
0,steam:76561198035439444,BLCS4,4,3,1,286.00000,0.750000,1.000000,0.250000,2.500000,30.000000,1.250000,1.250000,1652.6932,26.257778,16.666667,2025-07-06 14:45:37.386099
1,epic:c185a23491954fb4a651c79b1893bf81,BLCS4,4,0,4,346.25000,0.750000,0.500000,2.000000,0.750000,100.000000,0.750000,1.000000,1473.1737,51.457778,50.000000,2025-07-02 00:47:59.159948
2,steam:76561198880753605,BLCS4,4,0,4,397.25000,0.750000,1.000000,2.000000,2.000000,37.500000,0.500000,1.000000,1562.6036,63.276267,61.111111,2025-07-06 14:45:37.427082
3,steam:76561198966482468,BLCS4,4,0,4,453.00000,1.000000,0.750000,2.250000,3.250000,30.769230,1.000000,1.250000,1563.2742,73.557867,66.666667,2025-07-02 00:47:59.197233
4,steam:76561198169500756,BLCS4,4,4,0,574.00000,1.750000,1.000000,1.500000,4.500000,38.888890,1.500000,0.500000,1601.6028,83.822667,83.333333,2025-07-02 00:47:59.205328
5,steam:76561198976276890,BLCS4,4,0,4,324.50000,1.250000,0.250000,1.000000,1.750000,71.428570,0.750000,0.250000,1535.2133,35.858667,27.777778,2025-07-06 14:45:37.450859
6,steam:76561198949468845,BLCS4,4,4,0,610.50000,2.500000,2.000000,0.500000,5.250000,47.619050,0.000000,0.250000,1569.9883,79.314667,77.777778,2025-07-06 14:45:37.458820
7,steam:76561198364124078,BLCS4,7,4,3,603.14290,1.571428,0.857143,2.571429,4.142857,37.931034,0.428571,1.142857,1397.9177,92.512000,94.444444,2025-07-02 04:10:48.479321
8,steam:76561198389804286,BLCS4,4,0,4,295.75000,0.250000,0.750000,1.750000,2.000000,12.500000,0.250000,0.750000,1555.4724,35.902222,33.333333,2025-07-02 00:47:59.213406
9,steam:76561198262801476,BLCS4,4,4,0,351.75000,1.250000,0.250000,0.750000,4.500000,27.777779,1.000000,0.750000,1634.8310,46.521067,44.444444,2025-07-02 00:47:59.220842
10,steam:76561198262675567,BLCS4,7,4,3,225.57143,0.285714,0.285714,1.285714,1.000000,28.571430,0.571429,1.142857,1431.5330,22.337778,11.111111,2025-07-02 04:10:48.519954
11,steam:76561198148363848,BLCS4,4,4,0,330.00000,0.750000,1.250000,1.250000,2.000000,37.500000,0.500000,0.750000,1564.7279,53.756267,55.555556,2025-07-02 00:47:59.228762
12,epic:0c0d9a0287d14575b62c5c314219f8f0,BLCS4,7,3,4,256.14285,0.571429,0.428571,0.857143,2.000000,28.571430,0.571429,0.428571,1527.8137,15.057778,0.000000,2025-07-02 04:10:48.543230
13,steam:76561199067785967,BLCS4,7,3,4,676.00000,2.142857,0.571429,2.000000,5.571429,38.461536,0.857143,0.428571,1502.9534,88.599467,88.888889,2025-07-02 04:10:48.554094
14,steam:76561198367844942,BLCS4,4,0,4,300.00000,0.750000,0.500000,1.250000,1.250000,60.000000,0.750000,0.000000,1505.8783,33.973333,22.222222,2025-07-06 14:45:37.522312
15,steam:76561198057494308,BLCS4,4,4,0,551.25000,2.000000,1.500000,1.000000,4.500000,44.444443,0.000000,0.500000,1493.5290,75.002667,72.222222,2025-07-06 14:45:37.530387
16,steam:76561198151665626,BLCS4,7,4,3,327.57144,0.714286,0.571429,1.142857,1.428572,50.000000,0.142857,0.714286,1460.6420,40.631111,38.888889,2025-07-02 04:10:48.563656
17,steam:76561198851976955,BLCS4,7,3,4,275.57144,0.571429,0.857143,0.857143,2.000000,28.571430,1.571428,0.285714,1527.5209,21.902222,5.555556,2025-07-02 04:10:48.576843

In [65]:
query = f"""
SELECT 
    b.discord_username,
    a.season_id,
    b.discord_id,
    a.games_played,
    a.wins,
    a.losses,
    a.avg_score,
    a.goals_per_game,
    a.assists_per_game,
    a.saves_per_game,
    a.shots_per_game,
    a.shot_percentage
FROM blcs_player_statistics a
INNER JOIN blcs_player_mappings b
ON a.player_id=b.ballchasing_player_id
"""
df = pd.read_sql(sql=query, con=engine)
df["player_name"] = df["discord_username"].str.extract(r"^([^|]+)")
df["team_name"] = df["discord_username"].str.extract(r"\|\s*(.+)$")
df

,discord_username,season_id,discord_id,games_played,wins,losses,avg_score,goals_per_game,assists_per_game,saves_per_game,shots_per_game,shot_percentage,player_name,team_name
0,desi | 1st Place,BLCS4,192365385062940672,4,4,0,574.00000,1.750000,1.000000,1.500000,4.500000,38.888890,desi,1st Place
1,riainoo | Mulignans,BLCS4,298162654592237579,7,4,3,327.57144,0.714286,0.571429,1.142857,1.428572,50.000000,riainoo,Mulignans
2,Bucky | Badgers,BLCS4,426154003051839488,4,0,4,453.00000,1.000000,0.750000,2.250000,3.250000,30.769230,Bucky,Badgers
3,Turtle | 1st Place,BLCS4,226163345919705088,4,4,0,330.00000,0.750000,1.250000,1.250000,2.000000,37.500000,Turtle,1st Place
4,Supe | 1st Place,BLCS4,458304259910533132,4,4,0,351.75000,1.250000,0.250000,0.750000,4.500000,27.777779,Supe,1st Place
5,Ray | Badgers,BLCS4,992830798313033730,4,0,4,295.75000,0.250000,0.750000,1.750000,2.000000,12.500000,Ray,Badgers
6,Aryba | Badgers,BLCS4,899988932299718707,4,0,4,346.25000,0.750000,0.500000,2.000000,0.750000,100.000000,Aryba,Badgers
7,ankles | Mounties,BLCS4,346783288444059650,4,3,1,286.00000,0.750000,1.000000,0.250000,2.500000,30.000000,ankles,Mounties
8,WaVy | Yeoman Submarines,BLCS4,449268136600928276,7,3,4,275.57144,0.571429,0.857143,0.857143,2.000000,28.571430,WaVy,Yeoman Submarines
9,jerid | YNs,BLCS4,473185267109593099,7,3,4,676.00000,2.142857,0.571429,2.000000,5.571429,38.461536,jerid,YNs
10,Paperclip94 | Mulignans,BLCS4,604799721784999962,7,4,3,603.14290,1.571428,0.857143,2.571429,4.142857,37.931034,Paperclip94,Mulignans
11,Bax | 16 Keycaps,BLCS4,214588421040111619,4,0,4,397.25000,0.750000,1.000000,2.000000,2.000000,37.500000,Bax,16 Keycaps
12,Duri | Mounties,BLCS4,466701121033994262,4,4,0,610.50000,2.500000,2.000000,0.500000,5.250000,47.619050,Duri,Mounties
13,husky | Mounties,BLCS4,331211116694732801,4,4,0,551.25000,2.000000,1.500000,1.000000,4.500000,44.444443,husky,Mounties